/********************
**       Nav       **
*********************/

/** Nav color **/
nav{
    background-color: rgba(53, 52, 52, 1);
}
/** Separate color for list due to transparency **/
nav ul{
    background-color: rgba(53, 52, 52, 0.9);
}

/** BF logo color **/
.logo {
    fill: white;
}

/** Nav link colors **/
nav a{
    color: white;
}

/** nav underlines **/
hr.nav_hr{
    background-color: white;
    height: 1px;
}

/********************
**    HTML Body    **
*********************/

body{
    background-color: rgba(248, 248, 248, 1)
}

/********************
**   Splash Items  **
*********************/

/** Splash background **/

.splash{
    background-color: rgba(255, 255, 255, 1);
    /* Use this next item to add background images to the splash*/
    background-image: url("../Projects/Conversion\ Fanatics/CF\ Hero\ Image.png");
}

.splash_overlay {
    /*Splash overlay color: appears over the image as a filter*/
    background-color: rgba(0, 105, 159, .76);
}

.splash_content h1{
    color: #FFF;
}

/** Module background **/
.module{
    background-color: white;
}

/** Headers **/
h1 {
    color: rgba(17, 168, 222, 1);
}