/**
childhood.css

css for the childhood.html project page
**/

body {
    background-color: #FFF;
}

/***** nav *****/

nav {
    background-color: #474747;
}

nav ul {
    background-color: rgba(71, 71, 71, 0.8);
}

hr.nav_hr{
    background-color: #FFF;
}

.logo {
    fill: #FFF;
}

#nav_menu, nav li a {
    color: #FFF;
}

/*** splash ***/

.splash_overlay {
    background: linear-gradient(#D9D9D9, #FFF);
}
.splash_content {
    color: #000;
}

/*** video ***/
.vid {
    width: 100%;
}
video {
    width: 100%;
}

/*** text ***/
.desc .article {
    margin:0 auto;
    padding:0;
}
.desc.module {
    margin:15px 0;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .4);
}

/*** gallery ***/
.gal, .gal img {
    width: 100%;
}

.gallery > img {
    transition: all 1s;
}

/*** gallery thumbs ***/
.grid_3 {
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;;
    margin: 40px auto 40px;  
}


/************** responsive! **************/

