/*
CSS file for cover (index.html) page
*/

.pgcontent{
    color: #555555;
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
    margin: auto;
    min-height: calc(100vh - 300px)
}

.splash {
    width: 100%;
    height: auto;
    margin: 30px 0px;
}

.splash img {
    display: block;
    width: auto;
    max-width: 95%;
    max-height: 500px;
    margin: auto;
}

/* article */

.article_container{
    text-align: center;
}

.article h1 {
    font-size: 39px;
    font-weight: 500;
    margin: 0 10px;
}

.article p {
    font-size: 24px;
    margin: 3px 10px 1em 10px;
}

hr {
    border: none;
    margin: 0 10px;
    height: 2px;
    background-color: #555555;
}

/* buttons */

.enter_button_container {
    width: calc(100% - 20px);
    margin: auto 10px;
    text-align: center;
}

.enter_button_container a {
    text-decoration: none;
}

button{
    font-size: 20px;
    display: inline-block;
    margin: auto;
    border: 2px solid #555555;
    border-radius: 0px;
    padding: 20px 15%;
    transition: all .5s;
    background-color: rgba(255, 255, 255);
    cursor: pointer;
}
  
button:hover{
    background-color: rgba(53, 168, 235, 0.3);
    border-radius: 10px;
}

button.social {
    margin-right: 0;
    margin-left: 2%;
    padding: 20px;
    /*float: right;*/
}

/********************** Responsive design *******************/

/* 750px + */
@media (min-width: 750px) {
    .pgcontent{
        max-width: 600px;
    }
}

@media (min-width: 1000px) {
    .pgcontent{
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
    }

    .splash img{
        max-height: 85vh;
        align-self: center;
        display: block;
    }

    .center_h{
        display: block;
        margin: auto;
    }

    .article_container{
        margin: auto 60px auto auto;
        text-align: left;
    }

    .enter_button_container {
        text-align: left;
    }
}

/* 1400px + */
@media (min-width: 1400px) {
    .pgcontent{
        max-width: 100%;
        display: grid;
        grid-template-columns: 4fr 3fr;
    }

    .article_container{
        max-width: 514px;
        margin: auto 50px;
    }
}