/* homepage.css

CSS for the homepage (index.html) and the basic structure for the entire site.
Also contains CSS for the nav, which is relevent on every page
*/

/*** Body ***/
body{
    background-color: #eee;
    margin: 0;
    font-family: Roboto;
  }

  /*** show/hide ***/
  .show {
    display: block;
  }

  .hide {
    display:none;
  }
  
  /****** Nav ******/

  nav{
    background-color: #fff;
    min-height: 95px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, .3);
    margin-bottom: 33px;
    z-index: 999;    
  }
  
  nav ul{
    width: 100%;
    display: none;
    position: absolute;
    list-style-type: none;
    margin: 0px auto;   
    text-align: center;
    padding: 10px 0;
    top: 95px;
    background-color: rgba(255,255,255, 0.85);
    z-index: 3;
  }
  
  nav li{
    width:100%;
    font-size: 24px;
  }
  
  nav a{
    text-decoration: none;
    color: #333;
    margin: 0 30px;
  }

  /* nav hr */
  hr.nav_hr {
    background-color: #000;
    border-style: none;
    width: 95%;
    height: 2px;
    opacity: 0.3;
  }

  /* menu button*/
  #nav_menu {
    display: inline-block;
    float: right;
    position: relative;
    font-size: 30px;
    right: 30px;
    top: 30px;
    padding: 5px;
  }

  #nav_menu:hover {
    cursor: pointer;
  }
  
  .logo{
    left: 50px;
    display: inline;
    max-width: 200px;
    height: 90px;
    margin:auto
  }

  /****** END NAV ******/

  /*** card ***/
  
  .content-card{
    margin: 33px 0px 0px 0px;
    height: 650px;
    overflow: hidden;
    background: #def;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .5);
    transition: all .7s ease;
  }
  
  .card-info{
    color: white;
    display: grid;
    grid-template-rows: 1.2fr 2fr;
    position: relative;
    width: 100%;
    height: 100%;
    z-index:2;
    overflow: hidden;
  }

  .card-info a{
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .thumbnail{
    display: block;
    margin: 40px auto;
    max-height: 80%;
    max-width: 100%;
    transition: all 1s ease;
    
  }
  
  .text-block{
    display: block;
    margin: 0px auto 0px auto;
    padding: 20px;
    text-align: center;
    max-width: 600px;
  }
  
  .card-button{
    display: block;
    margin: 40px auto;
    border: 1px solid white;
    border-radius: 0px;
    max-width: 150px;
    padding: 15px;
    transition: all .5s;
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
  }
  
  .card-button:hover{
    background-color: rgba(255, 255, 255, .2);
    border-radius: 10px;
   
  }
  
  
  
   .content_card h1{
     font-size: 35px;
     color: white;
     letter-spacing: 2px;
  }
  /*** end Card ***/
  
  p{
    font-size: 20px;
  
    
  }
  
  #scout{
    background: linear-gradient( 30deg, #00CBFF, #1083B5);
    
  }
  
  #scout .thumbnail{
    /* Safari 6.0 - 9.0 */
      filter: saturate(130%);
   max-width: 100%;
    box-shadow: 0px 0px 15px 8px rgba(255, 255, 255, .0);
  }
  
  #red .thumbnail{
    filter: brightness(0) invert(1);
  }
  
  
  #play{
    background: linear-gradient( 280deg, #FA420A, #FFCE09);
  }
  
  #disk-jockey{
    background: linear-gradient( -45deg, #8600BE, #6B0750);
  }
  
  #miyazaki{
    background: linear-gradient( 45deg, rgb(34, 34, 34), #000);
  }
  
  #red{
    background: linear-gradient( -45deg, yellow, green);
  }
  
  .fade-img{
    margin-right: auto;
    opacity: .1;
    display: block;
    width: 100%;
    min-width: 1200px;
    object-fit: contain;
  }
  
  /********************** Responsive design starts here **********************/
  
  /***** 700px + *****/
  @media (min-width: 700px) {

    .logo{
      display: block;
      max-width: 250px;
      height: 200px;
      margin: auto;
      padding-top: 40px;
    }

    nav{
      min-height: 350px;
    }

    nav ul{
      width: 100%;
      margin: 30px auto;
      display: block;
      position: unset;  
      background-color: rgba(255,255,255, 0);
    }
    
    nav li{
      display: inline;
      margin: 0 3%;
    }

    nav a { margin:0;}
  
    /* nav hr */
    hr.nav_hr {
      display: none;
    }
  
    /* menu button*/
    #nav_menu {
      display: none;
    }
  }

  /***** 1000px + *****/
  @media (min-width: 1000px) {
  
    
    
    .card-info{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      max-width: 1200px;
      margin: auto;
      transition: all 1s;
    }
    
    .text-block{
      margin: auto;
      text-align: left;
      max-width: 480px;
    }
    
    .thumbnail{
      margin: auto;
      transform: scale;
      bottom: 0px;
      position: relative; 
    }
    
    .thumbnail:hover{
      bottom: 30px;
    }
    
    .card-button{
    display: block;
    margin: 40px 0;
    text-align: center;
  }
      .left{
      grid-column: 1;
      grid-row: 1;
    }
  }
  
  #disk-jockey .img{
    width: 200%;
  }
    
  /***** 1600px+ *****/
  @media (min-width: 1600px) {
    .container{
      display: grid;
      grid-template-columns: 300px 1fr;
    }
    
    nav{
      height: 100%;
      z-index: 3;
      box-shadow: 10px 0px 12px rgba(0, 0, 0, .3);
      margin: 0; 
    }
    
    #navcontent{
      position: fixed;
      left: 25px;
      top: 30px;
    }
    nav ul{
      float: none;
    }
    
    nav li{
    float: none;
    display: block;
    margin: 20px auto;    
  }
    .logo{
      display: block;
      width: 100%;
      height: auto;
      margin: 20px auto 0px auto;
      float: none;
    }
    
    .content-card{
      width: 95%;
      height: 800px;
      
    }
    
    .content-card:hover{
      width: 98%;
    }
  }
  
  /***** internet explorer nonsense *****/
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    .container{
      display: block;
    }
  }