/* homepage.css

CSS for the homepage (index.html and also work.html) and the basic structure for the entire site.
Also contains CSS for the nav, which is relevent on every page
*/

/*** Body ***/
.container{
  display: grid;
  grid-template-columns: 1fr;
}

body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: Roboto;
    animation: fade_in 2s ease;
  }

@keyframes fade_in {
    0% {opacity: 0;}
    20%{opacity: 0;}
    100% {opacity: 1;}
 } 
  
  /****** Nav ******/

  nav{
    position: relative;
    background-color: #fff;
    min-height: 95px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, .3);
    z-index: 100; 
    margin: auto; 
    width: 100%;  
  }
  
  nav ul{
    width: 100%;
    list-style-type: none;
    margin: 0px auto;   
    text-align: center;
    background-color: rgba(255,255,255, 0.85);
    z-index: 3;
    transform: all 1s;
    padding: 10px 0;
  }
  
  nav li{
    width:100%;
    font-size: 24px;
  }
  
  nav a{
    text-decoration: none;
    color: #333;
    margin: 0 30px;
  }

  .dropdown{
    position: absolute;
    display: block;
    width: 100%;
    overflow: hidden;    
    top: 95px;
    margin:0;
    height: 0px;
    transition: all 0.5s ease;
  }

  /*slide animation for nav*/
  .slideDown {
    height: 223px;
  }

  /* nav hr */
  hr.nav_hr {
    background-color: #000;
    border-style: none;
    width: 95%;
    height: 2px;
    opacity: 0.3;
    margin: 10px;
  }

  /* menu button*/
  #nav_menu {
    display: inline-block;
    float: right;
    position: relative;
    font-size: 30px;
    right: 10px;
    top: 30px;
    padding: 5px;
  }

  #nav_menu:hover {
    cursor: pointer;
  }
  
  .logo{
    left: 50px;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 10px;
  }

  /****** END NAV ******/

  /****** INDEX INTRO ******/
  

  #index_intro{
    color: #acacac;
    padding: 20px;
    text-align: center;
    margin: 30px auto;
    font-weight: 500;
    font-size: 20px;
  }

  #index_intro hr{
    width: 30vw;
    max-width: 350px;
    border: 1px solid #c0c0c0;
    margin: 20px auto;

  }

  #index_intro span{
    font-size: 35px;
    color: rgb(112, 112, 112);
  }


/****** INDEX INTRO ******/



  /*** card ***/
  
  .content_card{
    display: block;
    margin: 33px 0px 0px 0px;
    min-height: 650px;
    overflow: hidden;
    background: #def;
    /*box-shadow: 0px 5px 15px rgba(0, 0, 0, .5);*/
    transition: all .7s ease;
    align-items: center;
    justify-items: center;
    
  }
  
  .card-info{
    color: white;
    display: grid;
    width: 100%;
    height: 100%;
    z-index:2;
    overflow: hidden;
    justify-self: center;
    align-self: center;
  }

  .card-info a{
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .project_tags{
    margin: 20px 0 0 0;
    padding: 0;
  }

  .project_tags li{
    border: 1px solid white;
    border-radius: 20px;
    padding: 6px 12px;
    font-size: .8em;
    background-color: rgba(0,0,0,.1);
    display: inline-block;
    margin: 0 4px 10px 0;
  }
  
.thumb_link{
  display: block;
  width: 100%;
}

  .thumbnail{
    display: block;
    margin: 40px auto;
    max-height: 250px;
    max-width: 80%;
    transition: all 1s ease;
    
  }
  
  .text-block{
    display: block;
    margin: 0px auto 0px auto;
    padding: 20px 40px;
    text-align: center;
    max-width: 600px;
  }
  
  .card-button{
    display: block;
    margin: 40px auto;
    border: 1px solid white;
    border-radius: 0px;
    max-width: 150px;
    padding: 15px;
    transition: all .5s;
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
  }
  
  .card-button:hover{
    background-color: rgba(255, 255, 255, .2);
    border-radius: 10px;
   
  }
  
  
  
   .content_card h1{
     font-size: 35px;
     color: white;
     letter-spacing: 1px;
     font-weight: 700;
     text-transform: uppercase;
     margin: 0;
  }

  .content_card p{
    margin-top: 10px;
 }
  /*** end Card ***/
  
  p{
    font-size: 20px;
  
    
  }
  
  #scout{
    background: linear-gradient( 30deg, #00CBFF, #1083B5);
    
  }
  
  #scout .thumbnail{
    /* Safari 6.0 - 9.0 */
    filter: saturate(130%);
    border-radius: 50px;
    box-shadow: 0px 0px 15px 8px rgba(255, 255, 255, .0);
  }
  

  #emoji{
    background: linear-gradient(30deg, rgb(0, 118, 148), rgb(65, 55, 207))
  }

  #emoji .thumbnail{
    width: 90%;
  }
  
  
  #play{
    background: linear-gradient( 280deg, #FA420A, #FFCE09);
  }
  
  #disk-jockey{
    background: linear-gradient( -45deg, rgb(123, 18, 133), #2F0944);
  }
  
  #miyazaki{
    background: linear-gradient( 45deg, rgb(34, 34, 34), #000);
  }
  
  #childhood{
    background: linear-gradient( -45deg, #B80E36, rgb(117, 5, 31));
  }

  #ooc{
    background: linear-gradient( -45deg, rgb(80, 0, 0), rgb(150, 2, 2));
  }
  
  .fade-img{
    margin-right: auto;
    opacity: .1;
    display: block;
    width: 100%;
    min-width: 1200px;
    object-fit: contain;
  }

    /*** show/hide ***/
    .show {
      display: block;
    }
  
    .hide {
      display:none;
    }

    /*#disk-jockey .img{
    width: 200%;
  }*/
  
  /********************** Responsive design starts here **********************/
  
  /***** 750px + *****/
  @media (min-width: 750px) {

    .logo{
      display: block;
      max-width: 250px;
      height: 150px;
      width: auto;
      margin: 0px auto 30px;
      padding-top: 40px;
    }

    nav{
      min-height: 300px;
    }

    .dropdown{
      width: 100%;
      margin: auto;
      position: unset;
      transition: all 0s;
      height: auto;
      background-color: rgba(255,255,255, 0);
      
    }
    
    nav li{
      display: inline;
      margin: 0 3%;
    }

    nav a { margin:0;}
  
    /* nav hr */
    hr.nav_hr {
      display: none;
    }
  
    /* menu button*/
    #nav_menu {
      display: none;
    }

    #index_intro{
      font-size: 30px;
    }

    #index_intro span{
      font-size: 40px;
      color: rgb(112, 112, 112);
    }
    .content_card{
      display: grid;
    }

    .card-info{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      max-width: 1200px;
      transition: all 1s;
      align-items: center;
      justify-items: center;
    }
    
    .text-block{
      margin: auto;
      text-align: left;
      max-width: 480px;
    }
    
    .thumbnail{
      margin: auto;
      max-width: 80%;
      max-height: 500px;
      bottom: 0px;
      position: relative; 
    }
    
    .thumbnail:hover{
      bottom: 30px;
    }
    
    .card-button{
    display: block;
    margin: 40px 0;
    text-align: center;
    }

    .left{
      grid-column: 1;
      grid-row: 1;
    }

  }  
    
  /***** 1400px+ *****/
  @media (min-width: 1400px) {
    .container{
      display: grid;
      grid-template-columns: 250px 1fr;
      height: 100vh;
    }
    
    nav{
      width: 250px;
      height: 100vh;
      z-index: 3;
      box-shadow: 10px 0px 12px rgba(0, 0, 0, .3);
      margin: 0;
      position: fixed;
      grid-column: 1;
    }
    
    #navcontent{
      position: fixed;
      top: 30px;
    }

    nav ul{
      float: none;
    }
    
    nav li{
    float: none;
    display: block;
    margin: 20px auto;    
  }

    .logo{
      display: block;
      width: 70%;
      height: auto;
      margin: 0px auto 0px auto;
      float: none;
    }
   
    #index_intro{
      font-size: 30px;
    }

    #index_intro span{
      font-size: 48px;
      color: rgb(112, 112, 112);
    }

    .pgcontent{
      grid-column: 2;
    }

    .content_card{
      width: 95%;
      height: 800px;
      
    }

    .card-info{
      width: 90%;
    }

    .thumbnail{
      margin: auto;
      max-width: 80%;
      max-height: 650px;
      bottom: 0px;
      position: relative; 
    }
    
    .content_card:hover{
      width: 98%;
    }
  }
  
  /***** internet explorer nonsense *****/
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    .container{
      display: block;
    }
  }