body{
    background: linear-gradient(251deg,#EA9C37, #875414)
}

.button{
    display: block;
    margin: 60px auto;
    border-radius: 0px;
    max-width: 150px;
    padding: 15px;
    transition: all .5s;
    background-color: rgba(0,0,0, 1);
    cursor: pointer;
  }
  
  a.button{
      color: white;
      text-decoration: none;
      font-weight: 700;
      text-align: center;

  }
  

.splash_overlay{
    background: black;
}

.splash_content{
    max-width: 1000px;
}

.splash_content p{
    margin: 40px 0px;
}

splash_img{
    max-width: 1000px;
}

.article{
    /*background: rgba(255, 255, 255, .2);*/
    color: black;
    margin: 0 auto;
}

.module{
    background: black;
    color: white;
}


.intro_block{
    color: black;
    background-color: rgb(212, 139, 44);
}

    .fadeout {
        background: linear-gradient(
            rgba(212, 139, 44, 0) 0%,
            rgb(212, 139, 44) 100%
        )
}

.drop_arrow{
        -webkit-filter: brightness(00%); /* Safari 6.0 - 9.0 */
        filter: brightness(00%);
}

.icon_rotate img{
display: block;
width: 90%;
max-width: 400px;
margin: auto;
transition: opacity 1s;
}

.icon{
    display: block;
width: 90%;
margin: auto;

}

.icon_grid{
    margin: 70px auto 40px auto;
}

#miyazaki_demo {
  width: 90vw;
  height: 60vw;
  max-width: 1000px;
  max-height: 700px;
  margin: 0px auto;
  background: gold;
    background: rgb(0, 0, 0); /** <-- For the demo **/
  }

  #miyazaki_demo img{
      max-height: 100%;
  }

  .color_fill{
      width: 100%;
      background: black;
      border: 3px solid white;
  }

.photo_grid{
    
}

.photo_grid_container{
    margin: 50px 40px 80px;
    display: block;
}
  .photo_grid img{
      width: 100%;
      display: block;
  }

  #demo{
      max-width: 90vw;
  }