nav{
    background-color: rgb(241, 91, 39);
}

nav ul{
    background-color: rgba(241, 91, 39, 0.9);
}

body{
    background-color: rgb(241, 241, 241);
    
}

.pgcontent{
    color: #272260;
}

.intro{
    max-height: 1900px;
}

.fadeout {
    background: linear-gradient(
        rgba(241, 241, 241, 0) 0%,
        rgb(241, 241, 241) 100%
    )
}

hr.nav_hr{
     background-color: white;
     height: 1px;
}

nav a{
    color: white;
}

.logo {
    fill: white;
}



.splash{
    background-image: url("../Projects/PLAY/play_background-01.svg")
}


.article div{
    margin-bottom: 50px;
}

.article h1{
    font-size: 30px;
}

hr{
    color: #272260
}

.deck {
    width: 100%;
    display: block;
}

section{
    margin:15px 0;
}

#user_flow{
   /* background-image: url("../Projects/PLAY/play_background-01.svg");
    background-size: cover;*/
    background-color: white;
    padding: 40px 20px;
}

#flow_box{

    padding: 20px;
    border-radius: 10px;
}

.module{
    background-color: white;
}



#prototype{
    background-color: white;
}

#case_study{
    background: transparent;
}

#case_study .article{
    background-color: white;
}

#case_study_title{
    text-align: center;
    font-size: 40px;
    
}

.app_demo{
    margin: auto;
    background-image: url('../Projects/PLAY/Play-App.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    width: 55vw;
    height: 120vw;
    max-width: 300px;
    max-height: 667px;
    transform: scale(1.05)
}

#screen_wrapper{
    position: relative;
    width: 86%;
    max-width: 375px;
    height: 100%; 
    top: 11%;
    left: 7%;
    
}

.app_demo iframe{
    width: 100%;
    height: 69%;
    opacity: 1;
    display: block;
    background: black;
}

.app_grid_3{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3%;
}

.app_grid_2{
    display: grid;
    width: 100%;
    grid-template-columns: .3fr 1fr 1fr .3fr;
    grid-column-gap: 5%;
}

.article img{
    box-shadow: 0 0 12px #00000025;
}

ul{
    font-size: 20px;
    margin: 0;
}

ol{
    font-size: 20px;
    margin: 0;
}


@media (min-width: 750px) {
    .article h1{
        font-size: 35px;
    }

    #playtimer img{
        grid-column: 2;
    }
    
    #playtimer .module_text_sm{
        grid-column: 1;
        grid-row: 1;
    }
}



/*comment*/