nav{
    background-color: rgb(241, 91, 39);
}

nav ul{
    background-color: rgba(241, 91, 39, 0.9);
}

hr.nav_hr{
     background-color: white;
     height: 1px;
}

nav a{
    color: white;
}

.logo {
    fill: white;
}

body{
    background: linear-gradient(251deg,rgb(255, 255, 255), #dbdbdb)
}

.splash{
    background-image: url("../Projects/PLAY/play_background-01.svg")
}

.article{
    color: #272260;
}

hr{
    color: #272260
}

.deck {
    width: 100%;
    display: block;
}


/*comment*/