nav{
    background-color: rgb(241, 91, 39);
}

nav ul{
    background-color: rgba(241, 91, 39, 0.9);
}

body{
    background-color: rgb(241, 241, 241);
    
}

.pgcontent{
    color: #272260;
}

.intro{
    max-height: 1900px;
}

.fadeout {
    background: linear-gradient(
        rgba(241, 241, 241, 0) 0%,
        rgb(241, 241, 241) 100%
    )
}

hr.nav_hr{
     background-color: white;
     height: 1px;
}

nav a{
    color: white;
}

.logo {
    fill: white;
}



.splash{
    background-image: url("../Projects/PLAY/play_background-01.svg")
}




hr{
    color: #272260
}

.deck {
    width: 100%;
    display: block;
}

section{
    margin:15px 0;
}



/*comment*/