* {
    box-sizing: border-box;
}

#intro_header {
    color: #3A3A3A;
    display: grid;
    grid-column: 1/-1;
    row-gap: 20px;
    padding: 10px;
    margin-top: 20px;
}





#portrait{
    display: block;
    height: 170px;
    margin: auto;
    border-radius: 10px;
}

.content_card {
    color: black;
    max-width: 100vw;
    width: 425px;
    overflow: visible;
    margin: 30px auto;
}

.thumbnail{
    width: 100%;
    max-height: 270px;
}

.card-info{
    position:relative;
}

.card-info a {
    display: block;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
}

.card-button{
    bottom: 0;
    width: 100%;
    display: block;
    margin: 40px auto;
    border: 1px solid white;
    border-radius: 0px;
    padding: 15px;
    background: #008392;
    cursor: pointer;
    display: block;
    margin: 40px 0;
    text-align: center;
  }

#welcome{
    text-align: center;
}

#welcome h1{
    font-size: 48px;
    font-weight: 300;
    margin: 10px 0px;
}

header a {
    display: block;
    text-decoration: none;
    background-color: #008392;
    padding: 15px;
    margin: 20px;
    border-radius: 100px;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
}

#linkedin {
    color: #008392;
    background-color: white;
    border: 2px solid
}

.text-block{
    margin: 20px 20px; 
}

#skills{
    background: transparent linear-gradient(180deg, #005561 0%, #001113 100%) 0% 0% no-repeat padding-box;
    text-align: center;
    font: Roboto;
    color: #FFFFFF;
    padding: 80px 20px;
}

.value{
    margin: 0 auto 40px auto;
    max-width: 400px;
}

#skills h2{
    font-weight:300;
    font-size: 30px;
    margin: 10px auto;
}

#skills p{
    font: normal normal 300 20px/24px Roboto;
    letter-spacing: 1.32px;
    margin: 10px auto;
}

.value-props{
    display: grid;
}

.value{
    display:grid;
    grid-template-rows: 120px;
}

.value-icon{
    transform: scale(.9);
    margin: auto;
}

#project-links{
    padding: 30px 0;
}

@media (min-width: 750px) {

    #intro_header{
        grid-template-columns: 2fr 3fr;
        padding: 160px 0px
    }

    header a{
        text-align: center;
        width: 270px;
        display: inline-block;
        margin: 20px 10px 0px 0px;
    }

    #linkedin{
        width: 150px;
    }

    #welcome{
        text-align: left;
        max-width: 550px;
        margin: auto auto auto 30px;
    }
    #portrait{
        margin: auto 40px auto auto;
        height: 300px;
    }


    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        max-width: 1000px;
        margin: auto;
        perspective: 5000px;
        padding: 0px 20px;
    }
    
    .content_card {
    color: black;
    max-width: 100vw;
    width: 425px;
    overflow: visible;
    margin: 30px auto;
}
    

    
    .card-info {
        Display: inline;
        height: 380px;
      
    }

    .value-props{
        margin: auto;
        max-width: 90vw;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }


    .card-button {
        position: absolute;
        width: 90%;
    }

    .left {
        grid-column: revert;
        grid-row: revert;
    }

    .text-block {
        padding: 0px 0;
    }
   

    
    .card-info h1, p, ul {
        margin: 0;
    }
}

@media (min-width: 1500px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cards{
        max-width: 1450px;
    }
}