/************************
** case_study_hero.css **
*************************/

/*
    This is the specific styling required for the hero case study in cfanatics.
    Colors, and other specific layouts will be designed here.
*/

/********************
**      Text       **
*********************/

/** Headers **/
h1, h2, h3, li {
    color: #6100B3;
}

/********************
**      Splash     **
*********************/

.splash_overlay {
    background: linear-gradient( 270deg, #380351, #6200B7);;
}

/********************
**    HeatMaps     **
*********************/

/** Specific layout changes here
-adding layout for text, maps, and links to reveal images
-styling for the links
**/

/** grid **/
#hero_mockups {
    grid-column-gap: 40px;
}

#hero_heatmap_grid {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr;
    margin-top: 25px;
}

#hero_map_toggle {
    display:grid;
    margin:auto;
    grid-template-columns: 1fr 1fr;
}

/** special case for article **/

#hero_heatmap_grid .article_container, 
#hero_heatmap_grid .article_container .article, 
#hero_heatmap_grid .article_container h1{
        margin-top: 0;
        padding-top:0;
}

/** links **/
#hero_map_toggle a {
    margin-top:30px;
    margin-bottom:30px;
    display: block;
    padding: 10px 32px;
    background: #C7C7C7;
    color: #000;
    font-size: 16px;
}

#hero_map_toggle a:hover {
    cursor: pointer;
}

#hero_map_toggle a.active {
    background: #6100B3;
    color: #FFF;
}

a#click_map {
    border-radius: 59px 0 0 59px;
    margin-right: 0px;
}

a#scroll_map {
    border-radius: 0 59px 59px 0;
    margin-left: 0px;
}

/** img **/
#heatmap_img img{
    transition: opacity 0.5s;
}


/*************************
**       RESPONSIVE     **
*************************/

@media (min-width: 750px) {}

@media (min-width: 1000px) {
    /** grid change for heatmap section **/
    #hero_heatmap_grid {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 50px;
    }

    #hero_heatmap_grid .article_container {
        grid-column: 2;
        grid-row: 2;
        padding: 0 10px;
    }

    #heatmap_img {
        grid-row: 2;
    }
}

@media (min-width: 1100px) {}